<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/favorito.css" />
    <script
      src="https://kit.fontawesome.com/b139898041.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../../features/home/res/img/PUC.png"
    />
    <title>Mercadão PUC</title>
  </head>
  <body onload="verificarLogado()">
    <header class="container-fluid headerContainer">
      <div class="d-flex p-2 flex-row align-items-center header">
        <div class="p-2 logo">
          <a href="../../../home/view/htmls/home.html"
            ><img src="../../../../communs/res/img/PUC2.png" alt="LOGO" />
          </a>
        </div>
        <div class="p-2 segundaDiv">
          <nav class="navbar navbar-expand-lg navbar-light menu">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 lista">
                <li class="nav-item loginDiv">
                  <a
                    href="../../../cadastro/view/htmls/cadastro.html"
                    id="cadastre-se"
                    class="login"
                    ><span> Cadastre-se</span></a
                  >
                  <a
                    class="logado"
                    href="../../../perfil/view/htmls/perfil.html"
                    id="nome_user"
                    ><span></span
                  ></a>
                </li>
                <li class="nav-item favDiv">
                  <a href="#" class="favoritos"
                    ><span><i class="fa-solid fa-star"></i> Favoritos</span></a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <article class="container-fluid mainContainer">
        <div class="row">
          <div class="col-12 title">
            <h1>Meus produtos favoritos</h1>
          </div>
          <div class="row" id="divFav"></div>
        </div>
      </article>
      <footer class="container-fluid footerCopyright">
        <div class="row">
          <div class="col-12">
            <h3>
              COPYRIGHT © TODOS OS DIREITOS RESERVADOS PUC MINAS SISTEMAS DE
              INFORMAÇÃO
            </h3>
          </div>
        </div>
      </footer>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="../../back/favorito.js" type="text/javascript"></script>
  </body>
</html>
